@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto:wght@100;400;900&display=swap");

:root {
    --body: #7dbbc3;
    --header: #daedbd;
    --buttons: #e5b181;
    --primary-color: #f4b9b2;
    --secondary-color: #de6b48;
}

body {
    font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    min-height: 100vh;
    background-color: var(--body);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
        ". header ."
        "player1-name form player2-name"
        "player1-score main player2-score";
}

/* Header */
header {
    justify-self: center;
    align-self: center;
    grid-area: header;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

header h1 {
    font-size: 4.5rem;
    font-weight: bold;
    align-self: start;
}

header > .button-container {
    display: flex;
    justify-content: center;
    margin: 15px 10px 0 10px;
}

.button-container > button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin: 0;
    padding: 10px 16px;
    border: 0;
    border-radius: 4px;
    -webkit-box-shadow: 1px 5px 13px 0px rgba(40, 40, 40, 0.75);
    box-shadow: 1px 5px 13px 0px rgba(40, 40, 40, 0.75);
    cursor: pointer;
    background-color: var(--buttons);
    font-size: 1.2rem;
    font-weight: bold;
    transition: all 0.2s linear;
}

.button-container > button:hover {
    background-color: var(--primary-color);
}

.button-container > button:active {
    transform: scale(0.98);
}

.icon {
    min-width: 16px;
    width: 32px;
}

/* Players form */
.form-container {
    grid-area: form;
    justify-self: center;
    align-self: center;
    margin: 25px 0;
    font-size: 1.2rem;
    transition: opacity 0.3s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-container form button {
    padding: 7px;
    border-radius: 4px;
    border: none;
    background-color: var(--buttons);
    cursor: pointer;
    -webkit-box-shadow: 0px 1px 6px 0px rgba(40, 40, 40, 0.75);
    box-shadow: 0px 1px 6px 0px rgba(40, 40, 40, 0.75);
    font-size: 0.9em;
    transition: all 0.3s linear;
}

.form-container form button:hover {
    background-color: var(--secondary-color);
}

.form-container form button:active {
    transform: scale(0.98);
}

.control-input label {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.control-input input[type="text"] {
    appearance: none;
    padding: 10px;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 11px 1px rgba(40, 40, 40, 0.49);
    box-shadow: 0px 0px 11px 1px rgba(40, 40, 40, 0.49);
}
.control-input input[type="text"]:focus {
    outline: 2px solid var(--secondary-color);
}

.player-name,
.player-score {
    transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
}

.player-1.player-name {
    grid-area: player1-name;
    justify-self: center;
    align-self: center;
}

.player-score.score-1 {
    grid-area: player1-score;
}

.player-2.player-name {
    grid-area: player2-name;
    justify-self: center;
    align-self: center;
}
.player-score.score-1,
.player-score.score-2 {
    justify-self: center;
    margin-top: 100px;
    font-size: 2rem;
}
.player-score.score-2 {
    grid-area: player2-score;
}

.player-name {
    font-size: 2.5rem;
    font-weight: 400;
}

.score {
    font-size: 1.5rem;
}

h1,
.player-score,
.player-name,
.status {
    color: var(--header);
    text-shadow: 0 1px 0px #c6878f, 1px 0 0px #c6878f, 1px 2px 1px #c6878f,
        2px 1px 1px #dc969f, 2px 3px 2px #ad5c67, 3px 2px 2px #d67f8b,
        3px 4px 2px #aa626b, 4px 3px 3px #c76b78, 4px 5px 3px #c6878f,
        5px 4px 2px #c6878f, 5px 6px 2px #c6878f, 6px 5px 2px #ca7e88,
        6px 7px 1px #cd6978, 7px 6px 1px #d65d6d, 7px 8px 0px #d3717e,
        8px 7px 0px #ec8c99, 2px 2px 2px rgba(206, 60, 33, 0);
}

/* Main */
main {
    grid-area: main;
    justify-self: center;
    margin-top: 20px;
    transition: opacity 0.3s ease-out;
    opacity: 0;
    height: 0;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.container .gameboard {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: repeat(3, minmax(100px, 1fr));
    gap: 10px;
}

.gameboard > .cell {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    background-color: var(--header);
    border-radius: 12px;
    border: none;
    transition: all 0.3s linear;
    cursor: pointer;
    font-size: 2em;
}

.gameboard > .cell:active {
    transform: scale(0.95);
}

/* Controls */
.controls {
    display: flex;
    justify-content: space-between;
}

.controls > .restart {
    padding: 15px 20px;
    border: none;
    border-radius: 7px;
    background-color: var(--primary-color);
    -webkit-box-shadow: 3px 0px 6px 1px rgba(40, 40, 40, 0.77);
    box-shadow: 3px 0px 6px 1px rgba(40, 40, 40, 0.77);
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    color: #64748b;
    transition: all 0.3s ease-in-out;
}

.restart:active {
    transform: scale(0.95);
}

.controls > .status {
    align-self: center;
    font-size: 1.8em;
    font-weight: bold;
}

.active {
    opacity: 1;
    height: auto;
    overflow: visible;
}
